#vars li { list-style-type: none; }

#canvas_container {
  display: table-cell;
  min-width: 500px;
}

#router {
  display: table-cell;
  width: 100%;
  vertical-align: top;
  height: 100%;
  padding-left: 0.5em;
}

#router textarea {
  position: relative;
  width: 99%;
  height: 30em;
}

#logging {
}

#innerlogging {
  position: relative;
}

#logtome {
  position: absolute;
  width: 100%;
  height: 15em;
}

