#vars li { list-style-type: none; }

#canvas_container {
  display: table-cell;
  min-width: 500px;
}

#logging {
  display: table-cell;
  width: 100%;
  vertical-align: top;
  height: 100%;
  padding-left: 0.5em;
}

#logging textarea {
  position: relative;
  width: 99%;
  height: 30em;
}

